
.k_grid {
    display: grid;
    grid-template-rows: 80px 50px auto 80px;
    grid-gap: 1em;
    grid-template-areas:
        "k_navbar k_navbar k_navbar k_navbar k_navbar"
        "k_header k_header k_header k_header k_header"
        "k_content k_content k_content k-content k_content"
        "k_footer k_footer k_footer k_footer k_footer";
}

.k_navbar {
    margin-bottom: auto;
}

.k_header {
    margin-top: 10px;
}

.k_content {
    justify-content: center;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.k_footer {
    justify-content: center;
    align-items:center;
    width: 100%;
}
