.ibm__footer {
    position: fixed; 
    bottom: 0; 
    width: 100% ;
    background: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 0.25rem 1rem;
    font-family: 'Manrope', sans-serif;
}


@media screen and (max-width: 700px) {
    .ibm__footer {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .ibm__footer {
        padding: 2rem;
    }
}
