
.u_grid {
    display: grid;
    grid-template-rows: 80px 50px auto 80px;
    grid-gap: 1em;
    grid-template-areas:
        "u_navbar u_navbar u_navbar u_navbar u_navbar"
        "u_header u_header u_header u_header u_header"
        "u_search u_search u_search u-search u_search"
        "u_footer u_footer u_footer u_footer u_footer";
}

.u_navbar {
    margin-bottom: auto;
}

.u_header {
    margin-top: 10px;
}

.u_content {
    justify-content: center;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.u_footer {
    justify-content: center;
    align-items:center;
    width: 100%;
}



