* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

body {
  background: var(--color-bg_);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {

  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 50% 50%, rgba(60, 60, 60, 1) 0%, rgba(60, 60, 60, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 50% 50%, rgba(60, 60, 60, 1) 0%, rgba(60, 60, 60, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 50% 50%, rgba(60, 60, 60, 1) 0%, rgba(60, 60, 60, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 50% 50%, rgba(60, 60, 60, 1) 0%, rgba(60, 60, 60, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 50% 50%, rgba(60, 60, 60, 1) 0%, rgba(60, 60, 60, 1) 100%);

}


