
.h_grid {
  display: grid;
  grid-template-rows: 80px 50px 70px auto 80px;
  grid-gap: 1em;
  grid-template-areas:
      "h_navbar h_navbar h_navbar h_navbar h_navbar"
      "h_header h_header h_header h_header h_header"
      "h_search h_search h_search h-search h_search"
      "h_content h_content h_content h_content h_content"
      "h_footer h_footer h_footer h_footer h_footer";
      
  min-width: 700px;
}

.h_navbar {
  margin-bottom: auto;
}

.h_header {
  margin-top: 10px;
}

.h_search {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.h_filter_bookmark {
  margin: 0%;
  align-items: center;
}

.h_search_searchbar_sort {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
}

.h_search_filter {
  margin: 0%;
  align-items: center;
}

.h_search_input {
  padding: 12px;
  height: 50px;
  font-size: 20px;
  width: 300px;
  align-items: center;
  margin-bottom: 20px;
}

/* Container for dividing the tweets sand filter sections */

.h_content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}

.h_content_bookmark {
  margin: 0%;
}

.h_content_tweet {
  margin: 0%;
}

.h_content_filter {
  font-size: 18px;
}

.h_content_filter_category {
  margin-left: 0px;
  display: flex;
  flex-direction: start;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.h_content_filter_span {
  display: flex;
  flex-direction: start;
  margin-left: 0px;
}

.h_content-filter_input {
  margin-right: 5px;
}


.h_content_tweet_main {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border: 1px solid #CFD9DE;
  margin-bottom: 0px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.h_content_tweet_avatar {
  padding: 10px;
}

.h_content_tweet_body {
  flex: 1;
  padding: 10px;
}

.h_content_tweet_body > img {
  border-radius: 20px;
  margin-top: 10px;
}
.h_content_tweet_header {
  color: black;
}

.h_content_tweet_headerText {
  display: flex;
  justify-content: flex-start;
}

.h_content_tweet_headerText > h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.h_content_tweet_headerSpecial {
  font-weight: 600;
  font-size: 17px;
  color: gray;
  margin-left: 5px;
}

.h_content_tweet__headerDescription {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 15px;
  border-bottom: 5px solid red;
  text-align: left;
}

.h_pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
/* .h_content_tweet_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
}
 */


 .h_content_tweet_footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
 }

 .h_content_tweet_footer > span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }


.h_footer {
  justify-content: center;
  align-items:center;
  width: 100%;
}


.h_sort_btn {
  padding: 12px 20px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 20px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
  align-content: center;
}


.h_sort_btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: red;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}