
.h_grid {
  display: grid;
  grid-template-rows: 80px 50px 70px auto 80px;
  grid-gap: 1em;
  grid-template-areas:
      "h_navbar h_navbar h_navbar h_navbar h_navbar"
      "h_header h_header h_header h_header h_header"
      "h_search h_search h_search h-search h_search"
      "h_content h_content h_content h_content h_content"
      "h_footer h_footer h_footer h_footer h_footer";

}

.h_navbar {
  margin-bottom: auto;
}

.h_header {
  margin-top: 10px;
}

.h_search {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%
}

.h_search_item {
  margin-bottom: 20px;
  /* display: grid; */
  
}

/* Container for dividing the tweets sand filter sections */

.h_content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 8 px;

}

.h_grid_item {
  padding: 25px;
  display: grid;
}


.h_footer {
  justify-content: center;
  align-items:center;
  width: 100%;
}